<launch>

  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_init" default="5"/>
  <arg name="y_init" default="3"/>
  <arg name="z_init" default="0"/>
  <arg name="theta_init" default="0"/>

  <arg name="x_final" default="4"/>
  <arg name="y_final" default="4"/>
  
  <arg name="clearance" default="0"/>
  <arg name="rpm1" default="15"/>
  <arg name="rpm2" default="10"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"  value="$(find astar_turtlebot)/worlds/map.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

    <node 
        pkg="astar_turtlebot"
        name="astar_turtlebot_controller"
        type="path_tracker.py"
        output="screen"
        args = "$(arg x_init) $(arg y_init) $(arg theta_init) $(arg x_final) $(arg y_final) $(arg clearance) $(arg rpm1) $(arg rpm2)"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_burger -x $(arg x_init) -y $(arg y_init) -z $(arg z_init) -Y $(arg theta_init) -param robot_description" />
</launch>
